<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>冒険の書</title>
    <link rel="stylesheet" href="nikki.css">
</head>



<body>
    <header>
        <!-- タイトル -->
        <h1 class="bouken">冒険の書<span style="font-size: 45px;"> -ぼうけんのしょ-</span></h1>
        <!-- 機能選択 -->
        <div class="sentaku">
            <ul class="waku">セーブ</ul>
            <ul class="waku">消去</ul>
            <ul class="waku">戻る</ul>
        </div>
<%
    posts = "12/17日の日記"

%>
        </header>
     <main>
     <!-- 日記選択画面 -->
     <div class="nikki">
         <ul class="bun">　</ul>
         <ul class="bun"><%=posts %></ul>
         <ul class="bun">　</ul>
     </div>
 </main>

</body>





</html>