<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カレンダーRPG</title>
    <link rel="stylesheet" href="Registration.css">
</head>

<body>
    <div>
        <h1 class=title>新規登録</h1>
    </div>

    <form action="">
        <div class="login">
            <div class="form">
                <img src="user.png" alt="mail" width="60" height="45">
                <p>ユーザーID　　:</p>
                <input class="box" type="text" name="mail">
            </div>
            <div class="form">
                <img src="mail.png" alt="mail" width="60" height="45">
                <p>メールアドレス:</p>
                <input class="box" type="text" name="mail">
            </div>
            <div class="form">
                <img src="pass.png" alt="mail" width="60" height="45">
                <p>パスワード　　:</p>
                <input class="box" type="password" name="pass">
            </div>
            <div class="start">
                <input class = "btn" type="submit" value="冒険をはじめる">
            </div>
        </div>


    </form>


</body>

</html>