body {
    background-image: image-url('haikei.png');
    background-size: cover; 
    font-family:"PixelMplus12-Regular";
  }

/*タイトル*/
.title {
    text-align:center;
    font-size: 100px;
}

/*フォームの枠*/

.form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}


/* テキストボックス */
.box{
    width: 200px;
    height: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.btn{
    width: 300px;
    height: 60px;
    font-size: 30px;
}

.start{
    text-align:center;
}

.registration {
    text-align:center;
}